<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$tweet-stream-function-app</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tweet-stream-function-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4acb5e69-3d7f-4ec2-b107-60f3b93286e3/resourceGroups/stream_analytic/providers/Microsoft.Web/sites/tweet-stream-function-app</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tweet-stream-function-app.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
  </PropertyGroup>
</Project>